force-app/main/default/flows/create_con_in_acc.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>create con in acc {!$Flow.CurrentDateTime}</interviewLabel>
    <label>create con in acc</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>acccreate</name>
        <label>acccreate</label>
        <locationX>395</locationX>
        <locationY>249</locationY>
        <connector>
            <targetReference>create_con</targetReference>
        </connector>
        <inputReference>accrec</inputReference>
    </recordCreates>
    <recordCreates>
        <name>con_name</name>
        <label>con name</label>
        <locationX>807</locationX>
        <locationY>261</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accrec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>cname</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>create_acc</name>
        <label>create acc</label>
        <locationX>220</locationX>
        <locationY>193</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>acccreate</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>accrec.Name</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>create_con</name>
        <label>create_con</label>
        <locationX>584</locationX>
        <locationY>236</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>con_name</targetReference>
        </connector>
        <fields>
            <name>cname</name>
            <dataType>String</dataType>
            <fieldText>cname</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>400</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>create_acc</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>accrec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
