force-app/main/default/flows/create_event_on_case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>event_case</name>
        <label>event_case</label>
        <locationX>242</locationX>
        <locationY>571</locationY>
        <assignmentItems>
            <assignToReference>test</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventcrt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_case</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>date</name>
        <dataType>DateTime</dataType>
        <expression>({!$Record.CreatedDate}+1)</expression>
    </formulas>
    <interviewLabel>create event on case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>create event on case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>eventcrt</name>
        <label>eventcrt</label>
        <locationX>495</locationX>
        <locationY>383</locationY>
        <connector>
            <targetReference>event_case</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>update_case</name>
        <label>update case</label>
        <locationX>182</locationX>
        <locationY>746</locationY>
        <inputAssignments>
            <field>Event__c</field>
            <value>
                <elementReference>test</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>369</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>eventcrt</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>caseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>casevar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.CaseNumber</elementReference>
        </value>
    </variables>
    <variables>
        <name>test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
