force-app/main/default/flows/Delete_oppy_closed_lost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>Allow</name>
        <choiceText>Allow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Allow</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Noo</name>
        <choiceText>Noo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Noo</stringValue>
        </value>
    </choices>
    <choices>
        <name>yes</name>
        <choiceText>yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Delete_the_ops</name>
        <label>Delete_the_ops</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Do not delete</defaultConnectorLabel>
        <rules>
            <name>Oppy_del</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete_opp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Allow</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_record</targetReference>
            </connector>
            <label>Oppy del</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Records_Not_null</name>
        <label>Get Records Not null</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Message_display_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Related_Opps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_you_sure_to_delete</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Delete oppy closed lost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete oppy closed lost</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_record</name>
        <label>Delete_record</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>final_msg</targetReference>
        </connector>
        <faultConnector>
            <targetReference>roll_back</targetReference>
        </faultConnector>
        <inputReference>All_Related_Opps</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>All_Related_Opps</name>
        <label>All Related Opps</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Records_Not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>roll_back</name>
        <label>roll back</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
    </recordRollbacks>
    <screens>
        <name>Are_you_sure_to_delete</name>
        <label>Are you sure to delete</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_the_ops</targetReference>
        </connector>
        <fields>
            <name>Delete_opp</name>
            <choiceReferences>Allow</choiceReferences>
            <choiceReferences>Noo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Delete_opp</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>final_msg</name>
        <label>final msg</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_final</name>
            <fieldText>&lt;p&gt;All related oppy are deleted&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_display_null</name>
        <label>Message_display_null</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>null_message</name>
            <fieldText>&lt;p&gt;No Related Opportunity with Closed Lost Stage available&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>All_Related_Opps</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
