force-app/main/default/flows/delete_inactive_con.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>Go_ahead</name>
        <choiceText>Go ahead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Go ahead</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Please</name>
        <choiceText>{!Yes}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Yes</elementReference>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <decisions>
        <name>decision_if_inactive_contact</name>
        <label>decision if inactive contact</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>no_null_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Inactive_contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Option_for_delete_yes_no</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen_if_option_yes_no</name>
        <label>Screen if option yes/no</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>If no</defaultConnectorLabel>
        <rules>
            <name>If_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Option_Yes_no</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Go_ahead</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_the_Inactive_contact</targetReference>
            </connector>
            <label>If yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>delete inactive con {!$Flow.CurrentDateTime}</interviewLabel>
    <label>delete inactive con</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_the_Inactive_contact</name>
        <label>Delete the Inactive contact</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <faultConnector>
            <targetReference>rollback</targetReference>
        </faultConnector>
        <inputReference>get_Inactive_contacts</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>get_Inactive_contacts</name>
        <label>get Inactive contacts</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_if_inactive_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>isInActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>rollback</name>
        <label>rollback</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
    </recordRollbacks>
    <screens>
        <name>no_null_record</name>
        <label>no null record</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display_no_inactive_contact</name>
            <fieldText>&lt;p&gt;No Inactive contacts found&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Option_for_delete_yes_no</name>
        <label>Option for delete yes no</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_if_option_yes_no</targetReference>
        </connector>
        <fields>
            <name>delete_question</name>
            <fieldText>&lt;p&gt;Are you sure want to delete&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Option_Yes_no</name>
            <choiceReferences>Go_ahead</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Option Yes/no</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Inactive_contacts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
