force-app/main/default/flows/delete_closed_case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>no</name>
        <choiceText>no</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>no</stringValue>
        </value>
    </choices>
    <choices>
        <name>yes</name>
        <choiceText>yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>get_record_not_null</name>
        <label>get record not null</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>case_with_status_closed</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_for_yes_no_option</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>yes_no_to_delete</name>
        <label>yes/no to delete</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>No to delete</defaultConnectorLabel>
        <rules>
            <name>Yes_delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>option_yes_no</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_the_records</targetReference>
            </connector>
            <label>Yes delete</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>delete closed case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>delete closed case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>delete_the_records</name>
        <label>delete the records</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>final_msg_screem</targetReference>
        </connector>
        <inputReference>case_with_status_closed</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>case_with_status_closed</name>
        <label>case with status closed</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_record_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>final_msg_screem</name>
        <label>final msg screem</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>final_msg</name>
            <fieldText>&lt;p&gt;Deleted all the cases with closed state&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>msg</name>
        <label>msg</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>norecordfound</name>
            <fieldText>&lt;p&gt;no record fpund&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_for_yes_no_option</name>
        <label>Screen for yes/no option</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>yes_no_to_delete</targetReference>
        </connector>
        <fields>
            <name>delete_msg4user</name>
            <fieldText>&lt;p&gt;DO YOU REALLY WANT TO DELETE?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>option_yes_no</name>
            <choiceReferences>yes</choiceReferences>
            <choiceReferences>no</choiceReferences>
            <dataType>String</dataType>
            <fieldText>option yes/no</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>case_with_status_closed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
