force-app/main/default/flows/lead_acc_sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign_fields</name>
        <label>assign fields</label>
        <locationX>582</locationX>
        <locationY>621</locationY>
        <assignmentItems>
            <assignToReference>loop_over_related_leads.Description</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>flow is working</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_over_related_leads.Country</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_lead</name>
        <label>assign lead</label>
        <locationX>549</locationX>
        <locationY>742</locationY>
        <assignmentItems>
            <assignToReference>leadlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_over_related_leads</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_related_leads</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_condition</name>
        <label>check condition</label>
        <locationX>496</locationX>
        <locationY>479</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ShippingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ShippingCountry</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_over_related_leads</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>lead acc sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>lead acc sync</label>
    <loops>
        <name>loop_over_related_leads</name>
        <label>loop over related leads</label>
        <locationX>364</locationX>
        <locationY>587</locationY>
        <collectionReference>get_the_related_leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_the_leads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_the_related_leads</name>
        <label>get the related leads</label>
        <locationX>496</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_condition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_the_leads</name>
        <label>update the leads</label>
        <locationX>364</locationX>
        <locationY>995</locationY>
        <inputReference>leadlist</inputReference>
    </recordUpdates>
    <start>
        <locationX>370</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_the_related_leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0122y000000GsVxAAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>ShippingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>India</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>leadlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
