force-app/main/default/flows/map_leads_and_account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assign_acc_as_name</name>
        <label>assign acc as name</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>assign_acc_loop.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assign_acc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_acc</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>map leads and account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>map leads and account</label>
    <loops>
        <name>assign_acc_loop</name>
        <label>assign acc loop</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>get_leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_acc_with_lead_name</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_acc_with_lead_name</name>
        <label>get acc with lead name</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_acc_as_name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assign_acc_loop.LastName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_leads</name>
        <label>get all leads</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_acc_loop</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>assign_acc</name>
        <label>assign acc</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>assign_acc_loop</targetReference>
        </connector>
        <inputReference>assign_acc_loop</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_leads</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
